<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello WebSocket</title>
    <script src="/stomp.js"></script>
    <script src="/websocket.js"></script>
</head>
<body>
<div id="main-content" class="container">
    <button onclick="send()">send</button>
    <button onclick="disconnect()">Disconnect</button>
</div>
<div th:object="${game}">
    <p th:text="${game.id}">gameid</p>
    <p th:text="${game.players}">players</p>
    <p id="message" th:text="${game.getPlayers()}">message</p>
</div>
</body>
</html>